



<h1> Estimate macros </h1>


<form action="/process_form_inputs" method="post" enctype="multipart/form-data">
  <div>
    <label for="zebra">Image</label>
    <input name = "image_param" id="zebra" type="file">
  </div>

  <div>
    <label for="giraffe">Description</label>
    <textarea name = "description_param" id="giraffe"></textarea>
  </div>

  <button>Estimate!</button>
</form>
